---
layout: default
top: blog-post
---


<div id="page">


    {{ content }}


    {% if page.comments %}

        {% include disqus.html %}

    {% endif %}


    <hr>

    <address class="signature">
        By shuiruge
	<span class="date">{{ page.date | date_to_long_string }}</span>
	<span class="location">{{ page.location }}</span>
    </address>

</div>

<!-- LaTeX -->
<script type="text/javascript" src="javascript.js">
  MathJax.Hub.Config({
  tex2jax: {
  skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
  }
  });

  MathJax.Hub.Queue(function() {
  var all = MathJax.Hub.getAllJax(), i;
  for(i=0; i < all.length; i += 1) {
	       all[i].SourceElement().parentNode.className += ' has-jax';
	       }
	       });
</script>

code.has-jax {font: inherit; font-size: 100%; background: inherit; border: inherit;}

<!-- End Page -->

