<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <link rel="stylesheet" href="{{site.baseurl}}/style.css" />
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
        <link rel="author" href="humans.txt"/>
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />
    </head>

    <body>

        <nav>

	    <h4>Links</h4>
            <ul>
                <li><i class="icon-home"></i>   <a href="{{site.baseurl}}/">Home</a></li>
                <li><i class="icon-mail"></i>   <a href="{{site.baseurl}}/info">INFO</a></li>
                <li><i class="icon-th"></i>     <a href="{{site.baseurl}}/archive">Archive</a></li>
            </ul>

        </nav>

        <main>

            {{ content }}

        </main>

        <footer>
            <hr />
            <p>By {{ site.author }}.   E-mail: {{ site.author_email }}</p>
        </footer>

    </body>

    <!--
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
          inlineMath: [['\\\\(', '\\\\)'], ['$', '$']],
          displayMath: [['\\\\[', '\\\\]'], ['$$', '$$']]
        }
      });
    </script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    -->

    </html>
